<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Editar por ID - Método PUT</h2>
    <form action="" class="editar">
        <label for="">Digite o Id do produto que deseja editar: </label>
        <Input style="width: 50px;" name="idProduto" id="idProduto" />
        <br>
        <hr>
        <h4>Dados à Modificar</h4>
        <label for="">Nome</label> <input name="nomeProduto" type="text" id="nomeProduto"> <br>
        <label for="">Preco</label> <input name="precoProduto" type="text" id="precoProduto"><br><br>
        <button class="btn">Editar</button>
    </form>
    <br>

    <script src="./script.js"></script>
</body>
</html>