<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando POST com api-fetch</title>
</head>
<body>
    <h1>Cadastro de Produto</h1>
    <form action="">
        <label for="">Id</label>
        <input id="id" type="text" name="idProduto">
        <br>
        <label for="">nome</label>
        <input id="nome" type="text" name="nomeProduto">
        <br>
        <label for="">Preço</label>
        <input id="preco" type="text" name="precoProduto">
        
        <br>
        <button>ENVIAR</button>
    </form>
    <script src="./script.js"></script>
</body>
</html>